.checkout__bill {
  background: #fde4e4;
  padding: 30px;
}

.checkout__total {
  border-top: 1px solid #ddd;
  padding-top: 30px;
}

@media only screen and (max-width: 768px) {
  .checkout__bill h6 {
    font-size: 0.9rem;
  }
  .checkout__bill {
    margin-top: 40px;
  }
}

.modal-header {
  background-color: #4caf50;
  color: white;
}

.modal-body {
  /* text-align: Left; */
  font-size: 18px;
  padding: 20px;
}

.modal-footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer button {
  width: 100px;
  margin: 10px;
}

#special-text {
  text-decoration: underline;
  color:#4caf50;
  text-align: center;
}
